html,
body {
height: 100%;
}

body {
font-family: 'Roboto' , sans-
serif;
background-color: #f7f7f7;
margin: 0;
}

.container {
min-height: 100%;
display: flex;
flex-direction: column;
}

.content {
flex: 1;
}

header {
border-width: 0.14px;
border-color: #b5b7ba;
border-style: solid;
background-color: #dfdfdf;
height: 68px;
display: flex;
justify-content: space-around;
align-items: center;
}

hesder  a {
color: #4d4d4d;
font-size: 20px;
font-weight: 100;
text-align: left;
text-decoration: none;
}

h1 {
font-family: Roboto;
color: #2e353d;
font-size: 40px;
font-weight: 300;
text-align: left;
text-align: center;
}

main {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 3%;
}

main p {
width: 693px;
background-color: #fff;
padding: 3%;
font-family: Roboto;
color: #242424;
font-size: 20px;
font-weight: 100;
font-height: 36px;
text-align: left;
}

.image {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.image img {
width: 420px;
margin-button: 10%;
}

footer {
background-color: #434445;
height: 132px;
color: #a4a4a4;
font-size: 20px;
display: flex;
justify-content: space-around;
align-items: center;
}
